[submodule "cpiscine"]
	path = cpiscine
	url = git@github.com:puyma/42-cpiscine.git
	branch = master
[submodule "get-next-line"]
	path = get-next-line
	url = git@github.com:puyma/42-get-next-line.git
	branch = master
[submodule "ft-printf"]
	path = ft-printf
	url = git@github.com:puyma/42-printf.git
	branch = master
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:puyma/42-born2beroot.git
	branch = master
[submodule "libft"]
	path = libft
	url = git@github.com:puyma/42-libft.git
	branch = master
