[submodule "cpiscine"]
	path = cpiscine
	url = git@github.com:puyma/42_cpiscine.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:puyma/42_get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:puyma/42_printf.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:puyma/42_born2beroot.git
